<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Change</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            background-image: url('https://wallpaperboat.com/wp-content/uploads/2019/10/free-website-background-01.jpg');
            text-align: center;
            padding-top: 50px;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #333;
        }

        #result {
            margin-bottom: 20px;
            font-size: 24px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Coin Change</h1>
        <div id="result">
            <p>Bill Total: <%= billTotal %></p>
            <p>Bill Paid: <%= billPaid %></p>
                <p>Bill paid successfully. No change can be given.</p>
        </div>
        <button id="try-again">Try Again</button>
    </div>

    <script>
            document.getElementById("try-again").addEventListener("click", () => {
                window.location.href="/"
            });
    </script>
</body>
</html>
